*{
  box-sizing: border-box;
}

header{
  font-size: xxx-large;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /*For the background image I chose to put an animation GIF of rain as it radiates a calm, soothing atmosphere,
  which is suitable for study and relaxation. The animation is not too busy so users will not get distracted.
  Besides that, the GIF has a smooth loop transition and does not show a big glitch when looping unlike some other GIFs.*/
  background:url('rain.gif');
  background-size: cover;
  color:white;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
 
#clock-container{
  /*The digital clock is placed in a flex box with borders added to mimic a real digital clock */
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 35px;
  width: 300px;
  height:300px;
  border: 3.5px solid;
  /*I decided on cadetblue for the border colour because it creates harmony with the background. */
  border-color: cadetblue;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 30px;
  
}

#clock{
  font-size: 3rem;
  /*The font size for the time is in bold it is noticable at first glance.*/
  font-weight: bold;
  text-align: center;
}

.music-container{
    width: 600px;
    height: 500px;
    border-radius: 20px;
    /*I chose a white opaque background for my music player so the background peeks through 
    music player and users can watch the whole GIF. */
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    position: relative;
}

.image-container {
  position: relative;
  width: 250px;
}

.image-container > img {
  width: inherit;
  height: 250px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  top: 50%;
  left: 60%;
/* The animation is added so when users start the music player the music cover image will rotate
to imitate a disk in a cd player or vinyl in record player. When users pause the music the 
rotation will pause as well.*/
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

.music-container.play .image-container img{
  animation-play-state: running;

}


@keyframes rotate{
  from{
    transform: rotate(0deg);
  }

  to{
    transform: rotate(360deg);
  }
}

.image-container::after {
  /*This is to add a circle in the centre of the music cover image so it looks like
  a cd disk or vinyl */
  content: '';
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translate(-50%, -50%);  
  width: 40px;
  height: 40px;
  border-radius: 50%;

}

.navigation{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 10%;
}

.action-btn{
  background-color: transparent;
  border-radius: 50%;
  border: 0;
  font-size: 30px;
  cursor: pointer;
  padding: 20px;
  margin: 0 10px;
  
}


.music-info{
  top: 2%;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  text-align: center;
  font-size: x-large;
}

.progress-container{
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0 ;
  height: 8px;
  width: 100%;
}

.progress{
  /* The progress bar fill is in cadetblue because it is coherent to the 
  background colour of the media player.*/
  background-color: cadetblue;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

  /* Footer styling */
  footer {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    text-align: center;
    padding: 10px 0;
    width: 100%;
  }