body{
    background-color: #2e2e2e;
}
/*primarily chose colors based on the website's 
color palette (grey-black, blue, green & red) to make the overall look coherent*/
h1{
    color: whitesmoke;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: xxx-large;
    padding: auto;
    text-align: center;
}
/* click button to direct to the interactive website*/
.button{
  border: solid white;
  color: white;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin: auto;
  display: block;
}

.button1{
    background-color: #b2cd68; 
}

.image1{
    border: 2px solid white;
    border-radius: 3px;
    padding: 8px;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.div1{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-size:large;
    border: 3px solid #2e2e2e;
    padding: 30px;
    margin-left: auto;
    margin-right:auto;
    width: 100;
    height:auto;
    background-color: #6986d1;
    text-align: center;
}

.image2{
    float: left;
    padding: 10px;
    width: 14.5%;
}

.div2{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-size:large;
    border: 3px solid#2e2e2e;
    padding: 30px;
    margin-left: auto;
    margin-right:auto;
    width: 100;
    height:auto;
    background-color: #b2cd68;
    text-align: center;
}
.image3{
    float: right;
    width: 33%;
    
}
.div3{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-size:large;
    padding: 30px;
    margin-left: auto;
    margin-right:auto;
    width: 100;
    height:auto;
    background-color: #e25c36;
    text-align: center;
}

.hearts{
    width: 50%;
    padding: 10px;
    display: block;
    margin:auto;

}

.container1{
  background-color: #e25c36;
}


.div4{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-size:large;
    border: 3px solid #2e2e2e;
    padding: 30px;
    margin-left: auto;
    margin-right:auto;
    width: 100;
    height:auto;
    background-color: #6986d1;
    text-align: center;
}

.div5{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-size:large;
    border: 3px solid #2e2e2e;
    padding: 30px;
    margin-left: auto;
    margin-right:auto;
    width: 100;
    height:auto;
    background-color: #b2cd68;
    text-align: center;
}


.div6{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-size:large;
    border: 3px solid #2e2e2e;
    padding: 30px;
    margin-left: auto;
    margin-right:auto;
    width: 100;
    height:auto;
    background-color: #e25c36;
    text-align: center;
}

.div7{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-size:large;
    border: 3px solid #2e2e2e;
    padding: 30px;
    margin-left: auto;
    margin-right:auto;
    width: 100;
    height:auto;
    background-color:#6986d1;
    text-align: center;
}

.div8{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-size:large;
    border: 3px solid #2e2e2e;
    padding: 30px;
    margin-left: auto;
    margin-right:auto;
    width: 100;
    height:auto;
    background-color:#b2cd68;
    text-align: center;
}

.div9{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-size:large;
    padding: 30px;
    margin-left: auto;
    margin-right:auto;
    width: 100;
    height:auto;
    background-color:#e25c36;
    text-align: center;
    border: 3px solid #2e2e2e;
}


.div10{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-size:large;
    padding: 30px;
    margin-left: auto;
    margin-right:auto;
    width: 100;
    height:auto;
    background-color:#6986d1;
    text-align: center;
}

.scribble{
    width: 50%;
    padding: 10px;
    display: block;
    margin:auto;
}

.container4{
  background-color: #6986d1;
}

.div11{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-size:large;
    border: 3px solid #2e2e2e;
    padding: 30px;
    margin-left: auto;
    margin-right:auto;
    width: 100;
    height:auto;
    background-color:#b2cd68;
    text-align: center;
}
.div12{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-size:large;
    padding: 30px;
    margin-left: auto;
    margin-right:auto;
    width: 100;
    height:auto;
    background-color:#e25c36;
    text-align: center;
}

.column2{
    float:right;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    padding: 5px;
    top: 20%;
    /* to make both images to align next to each other*/
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e25c36;
}

.div13{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-size:large;
    text-align: center;
    padding: 30px;
    margin-left: auto;
    margin-right:auto;
    width: 100;
    height:auto;
    background-color:#6986d1;
}

.tajmahal{
    width: 60%;
    padding: 3px;
    display: block;
    margin:auto;
    border: 2px solid #b2cd68;
    /*added border to seperate the image and background color*/
}

.container3{
    background-color:#6986d1 ;
}




