/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    text-align: center;
    margin: auto;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    font-family: "Jersey 20", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #e5e5cb;
    /* color: #3c2a21; */
    font-size: 1.5rem;
    gap: 1.5rem;
  }

  .step {
    margin: 20px 0;
}

  /* .disabled {
    opacity: 0.5;
    pointer-events: none;
} */

/* ----------------------------------------- */
/* Draggable token */
.dragToken {
  width: 80px;
  height: 80px;
  /* background-color: coral; */
  margin: 10px;
  cursor: grab;
  text-align: center;
  line-height: 80px;
  font-size: 18px;
}

/* ----------------------------------------- */
/* Draggable laundry items and basket */
  #basket {
    width: 150px;
    top: 50px;
  }

  .draggable {
    position: absolute;
    z-index: 1;
    /* top: 0;
    left: 0; */
    width: 100px;
    height: 150px;
    /* width: 100px; */
    /* min-height: 100px; */
    cursor: grab;
    justify-content: center;
    align-items: center;
  } 

  /* #item3 {
    justify-content: end;
    top: 330px;
    left: 130px;
    width: 100px;
  }
   */

  /* .draggable:hover {
    z-index: 10; 
  } */
/* Brings the hovered item to the front */

/* ------------------------------------------ */

/* Display washing machine  */
.image-container{
  display: flex;
  flex-direction: column;
  align-items: right; 
    /* width: 100%; */
}
  .top {
    width: 100%; /* Adjust width */
    max-width: 250px;
    flex-direction: column;
    /* align-items: center; */
    /* display: flex; */

  }
/* ------------------------------------------- */

/* Washing Machine */
  .dropbox {
    box-sizing: border-box;
    /* flex-direction: column; */
    width: 100%;
    max-width: 250px;
    /* border: none; */
    cursor: pointer;
    /* padding: 10px; */
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: center; */
    /* align-items: center; */
  }
/* -------------------------------------------- */
  #spin {
    position: absolute;
    width: 72px;
    right: 600px;
    top: 478px;
  }

  /* Washing Machine spinning animation */
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
/* ---------------------------------------------------- */
/* Step-by-step guide to do laundry */
  .text-box {
    position: absolute;   /* Position the box absolutely */
    top: 200px;            /* Distance from the top of the page */
    right: 70px;           /* Distance from the left of the page */
    width: 350px;         /* Width of the text box */
    align-items: center;
    padding: 50px;        /* Padding inside the box */
    border: 5px dashed #333; /* Border around the text box */
    background-color: turquoise; /* Background color of the box */
    color: firebrick;
    text-align: center;
    /* font-size: x-large; */
  }
/* ------------------------------------------------------- */
/* Success message */

/* Success box after dragging all items */
#successMessage {
  display: none;
  color: green;
  font-size: 18px;
}
